extends layout

block content
  #home
    .logo
      img(src="/images/gz8.png", alt="")
    .menu
      .row1.pure-g
        .left.pure-u-1-2
          // a(href="/infos")
          .grid
            .center
              .img
                img(src="/images/news.png")
              .text
                | 社会新闻
        .right.pure-u-1-2
          .grid
            .center
              .img
                img(src="/images/school.png")
              .text
                | 网上夜校
      .row2.pure-g
        .left.pure-u-1-2
          // a(href="/routines")
          .grid
            .center
              .img
                img(src="/images/information.png")
              .text
                | 周边信息
        .right.pure-u-1-2
          // a(href="/movies")
          .grid
            .center
              .img
                img(src="/images/movie.png")
              .text
                | 视频游戏
    .noti
      .title 公告栏
      .rows
        .row
          .time 15/3/6 13:20
          .headline 内部生活网正式内测
        .row
          .time 15/3/5 11:20
          .headline 元宵节快乐!



